body{
    background-color: yellow
}

li{
    font-family: Georgia;
}

h1{
    text-align: center;
    color: orangered;
    text-decoration: blue;
}

h2{
    color: red;
    text-decoration: blue;
}

p{
    font-size: x-large;
}

img{
    width: 70%;
}