body{
    background-color: aqua;
}

li{
    font-family: Georgia;
}

h1{
    text-align: center;
    color: orangered;
    text-decoration-line: underline;
    text-decoration-color: blue;
}

h2{
    color: red;
    text-decoration-line: underline;
    text-decoration-color: blue;
}

p{
    font-size: 25px;
}

img{
    width: 70%;
}
